a {
  text-decoration: none;
}

#sous_titre {
  margin-bottom: 0 !important;
}

.infos > .etoiles {
  margin-left: 5%;
}

.grey {
  color: #adb5bd;
}

.etoiles {
  display: flex;
  flex-direction: row;
}

.signup_mobile {
  display: none;
  position: absolute;
}

.conteneur_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icone_info {
  margin-right: 15px;
  border-radius: 2000px;
  border: 2px solid #f2f2f2;
  min-height: 35px;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button > span:after {
  content: "Rechercher";
}

.Fi {
  font-size: 1.5rem;
  margin: 15px 0px;
  margin-right: 10px;
}

.filtre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.texte_filtre {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
}

.icone_filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #caf0f8;
  border-radius: 2000px;
  width: 50px;
  transform: scale(1.1);
  font-size: 1.1rem;
}

.element_filtre {
  display: flex;
  flex-direction: row;
  height: 50px;
  border: 3px solid #f2f2f2;
  border-radius: 2000px;
  margin: 15px 30px;
  font-size: 1.3rem;
}

.fleche {
  color: black;
}

.boutton > button {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #0077b6;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 3%;
}

.recherche > div {
  height: 100%;
}

.icone_map {
  flex-grow: 1.5;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 0 5px;
  min-width: 2.8rem;
}

.input {
  flex-grow: 4;
}

.boutton {
  flex-grow: 3;
  background-color: blue;
}

.recherche {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  width: 600px;
  height: 70px;
  overflow: hidden;
  min-width: 0;
}

#menu2 {
  color: black;
}

#menu1 {
  border-top: 2px solid #0077b6;
}

.menu_bouttons {
  height: 100%;
  padding: 45px;
  font-size: 1.2rem;
  color: #0077b6;
}

.menu {
  position: absolute;
  right: 3.5%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.Bandeau > span {
  margin-left: 30px;
}

.grande:first-child {
  margin-right: 30px;
}

.petit:first-child {
  margin-bottom: 60px;
}

.Bandeau {
  background-color: white;
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px;
  color: black;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  flex-grow: 1;
}

.conteneur_vfi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
}

.vfi {
  display: flex;
  flex-direction: row;
  width: 48%;
  height: 100%;
}

.conteneur_filter {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.conteneur_filter ul {
  display: flex;
  list-style-type: none;
}

.conteneur_filter ul li {
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 20px;
}

.filter {
  position: relative;
  height: 14px;
  border: 1.5px solid #f2f2f2;
  border-radius: 20px;
  padding: 7px 13px 7px 3px;
}

.filter li a:hover {
  text-decoration: none;
  color: #0065fc;
  text-transform: uppercase;
  font-weight: bold;
}

.filter li a {
  text-decoration: none;
}

.conteneur_filter h3 {
  padding-left: 5px;
}

.texte {
  display: flex;
  width: 90%;
  flex-direction: column;
  font-size: 1.5em;
}

#logo {
  display: flex;
  width: 10%;
  position: relative;
  left: 50px;
}

.Pom > span {
  margin-left: 20px;
}

.grande {
}

.special {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  flex-direction: row;
  position: relative;
}

.conteneur_activites {
  background-size: cover;
  background-position: center center;
  height: 630px;
  min-width: 255px;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  background-color: white;
  margin: 60px 3.5%;
  flex-direction: column;
}

#Longchamp {
  background-image: url("../images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#Dame {
  background-image: url("../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#Parc {
  background-image: url("../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#Îles {
  background-image: url("../images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#Fort {
  background-image: url("../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  flex-grow: 1.5;
}

#Vieux {
  background-image: url("../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

.conteneur_stretch {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.marge_default {
  margin: 50px 3.5%;
}

#afficher {
  width: 100%;
  display: flex;
  margin-top: 35px;
}

.horizontal {
  display: flex;
  height: 80px;
  border: solid 5px white;
  flex-wrap: wrap;
  position: relative;
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  margin: 20px 0;
}

.pop {
  background-color: white;
  width: 60%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 20px;
  border-radius: 0px 15px 15px 0px;
}

.conteneur_populaires {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #f2f2f2;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 25px 60px;
  min-height: 310px;
  margin-left: 0;
  flex-grow: 1;
}

#Bleu {
  background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

#Coeur {
  background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#Matin {
  background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.title {
  width: 100%;
  display: flex;
}

.conteneur_hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f2f2f2;
  flex-grow: 1;
  max-width: 52%;
  justify-content: space-between;
  padding: 25px 60px;
  min-height: 700px;
}

#Amina {
  background-image: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#Panier {
  background-image: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#Mer {
  background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#Mouettes {
  background-image: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#Port {
  background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#Cannebiere {
  background-image: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.infos > span {
  margin-left: 5%;
}

.gras {
  font-weight: bold;
}

html {
  font-family: "Raleway", sans-serif;
}

.vertical > .images-vertical {
  width: 100%;
}

.element_filtre {
  display: flex;
}

.filtre {
  display: flex;
  flex-direction: row;
}

.footer_title li {
  margin-bottom: 10px;
}

.footer_title > ul {
  padding-left: 0;
  margin: 0;
}

.footer_title h3 {
}

footer {
  display: flex;
  align-items: flex-start;
  margin: auto;
  background-color: #f2f2f2;
  width: 100%;
  justify-content: space-between;
  padding: 30px 0;
}

.footer_title:first-child {
  margin-left: 3.5%;
}

.footer_title:last-child {
  margin-right: 3.5%;
}

.footer_title {
  display: flex;
  flex-direction: column;
}

.list-style {
  list-style: none;
}

.infos {
  background-color: white;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 0px 0px 15px 15px;
}

.bordrond {
  border-radius: 23px;
}

.hebergements {
  background-size: cover;
  background-position: center center;
  max-width: 360px;
  width: 30%;
  height: 245px;
  min-width: 255px;
  flex-wrap: wrap;
  display: flex;
  border: solid 5px white;
  position: relative;
  background-color: white;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

#Entete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

i {
  color: #0065fc;
}

@media (max-width: 1600px) {
  .vfi {
    height: 48%;
    width: 100%;
  }

  .conteneur_activites {
    height: 1260px;
  }

  .conteneur_vfi {
    flex-direction: column;
  }

  .conteneur_stretch {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    min-height: 250px;
    flex-direction: row;
  }

  #Coeur {
    margin: 20px 20px;
  }

  .horizontal {
    height: unset;
  }

  .title {
    height: min-content;
  }

  .conteneur_populaires {
    margin: 50px 2.5%;
  }

  .conteneur_hebergement,
  .conteneur_populaires {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .texte {
    font-size: 1.2rem;
  }
  
  #Coeur {
    margin: 20px 0;
  }

  .horizontal {
    height: 200px;
  }

  .conteneur_stretch {
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .horizontal {
    height: 150px;
  }
  
  body {
    width: 100vw;
    margin: 0;
  }
  
  .conteneur_populaires.marge_default {
    padding: 0 0px;
    margin: 0;
    border-radius: 0;
  }
  
  .marge_default {
    margin: 20px 3.5%;
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
    margin: 20px 3.5%;
    width: 93%;
    flex-direction: row;
    align-items: center;
  }
  
  .signup_mobile {
    display: unset;
    position: unset;
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
  }
  
  #logo {
    height: 60px;
    width: unset;
    position: unset;
  }
  
  #menu3 {
    position: absolute;
    display: none;
  }
  
  #menu2 {
    border-bottom: 2px solid #f2f2f2;
  }
  
  #menu1 {
    border-bottom: 2px solid blue;
    border-top: 0;
  }
  
  .menu_bouttons {
    padding: 10px;
    font-size: 1.2rem;
    color: blue;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu {
    position: unset;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
  
  
  .input {
    min-width: 0;
  }

  .boutton > button {
    width: 70px;
  }

  .boutton {
    flex-grow: 0;
    width: 70px;
    border-radius: 23px;
    overflow: hidden;
    min-width: 70px;
  }

  button > span:after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
  }

  .recherche {
    width: 93%;
  }

  .footer_title {
    margin-left: 3.5%;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 850px) {
  .conteneur_populaires {
    margin: 0;
    padding: unset;
  }
  
  #Entete {
    flex-direction: column-reverse;
  }

  #soustitre_texte {
    font-size: 1rem;
  }

  .special {
    margin: 20px 0;
  }

  .Bandeau {
    height: 50px;
  }

  .column {
    margin-left: 0;
  }

  .grande:first-child {
    margin-right: 0px;
  }

  .petit:first-child {
    margin-bottom: 0px;
  }

  .special {
    height: 200px;
    width: 100%;
  }

  .conteneur_activites {
    height: unset;
    flex-wrap: nowrap;
  }

  .conteneur_vfi {
    flex-direction: column;
  }

  .vfi {
    height: unset;
    flex-direction: column;
  }

  .title {
    margin-left: 10px;
  }

  .conteneur_hebergement {
    width: 100%;
    max-width: 100%;
    align-items: stretch;
    padding: 20px 5px;
    background-color: white;
    margin: 0;
  }

  .hebergements {
    flex-grow: 1;
    max-width: none;
    height: 200px;
    margin: 5px 5px;
    min-width: 45%;
    min-width: 260px;
  }

  body {
    min-width: 250px;
  }

  .marge {
    width: 100%;
  }
}
