
#sous_titre {
  display: flex;
  position: relative;
  left: 63px;
  bottom: 50px;
}

.texte {
  display: flex;
  width: 90%;
  flex-direction: column;
  position: relative;
  font-size: 1.5em;
}

#logo {
  display: flex;
  width: 10%;
  position: relative;
  left: 50px;
}

.Garde {
  background-color: white;
  width: 100%;
  height: 27%;
  position: relative;
  bottom: -146px;
  right: 0;
  color: black;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 16px;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.petite2 {
  height: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0px;
  right: -15px;
}

.Calanques {
  background-color: white;
  width: 100%;
  height: 12%;
  position: relative;
  bottom: -389px;
  right: 0;
  color: black;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 16px;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.grande2 {
  display: flex;
  width: 322px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  right: 110px;
}

.petite {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -280px;
  right: 225px;
  height: 201px;
}

.Frioul {
  background-color: white;
  width: 100%;
  height: 33%;
  position: relative;
  bottom: -108px;
  right: 0;
  color: black;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 16px;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.Long {
  background-color: white;
  width: 100%;
  height: 27%;
  position: relative;
  bottom: -140px;
  right: 0;
  color: black;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 16px;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.moyen_droite {
  height: 48%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 231px;
  right: -80%;
}

.Pom {
  background-color: white;
  width: 100%;
  height: 23%;
  position: relative;
  bottom: -187px;
  right: 0;
  color: black;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 16px;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.moyen {
  height: 56%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 115px;
}

.grande {
  display: flex;
  width: 296px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Port {
  background-color: white;
  width: 100%;
  height: 12%;
  position: relative;
  bottom: -388px;
  right: 0;
  color: black;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 16px;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.special {
  display: flex;
  height: 290px;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  margin: 20px 0;
  flex-direction: row;
  width: 340px;
  position: relative;
}

.conteneur_activites {
  background-size: cover;
  background-position: center center;
  width: 87%;
  height: 480px;
  min-width: 255px;
  flex-wrap: wrap;
  display: flex;
  border: solid 42px white;
  position: relative;
  background-color: white;
  margin: 60px 3.5%;
}

#Longchamp {
  background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#Dame {
  background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#Parc {
  background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#Îles {
  background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#Fort {
  background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#Vieux {
  background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

.conteneur_stretch {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.marge_default {
  margin: 50px 3.5%;
}

#afficher {
  width: 100%;
  display: flex;
  margin-top: 35px;
}

.horizontal {
  display: flex;
  height: 80px;
  border: solid 5px white;
  flex-wrap: wrap;
  position: relative;
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  margin: 20px 0;
}

.pop {
  background-color: white;
  width: 60%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 20px;
  border-radius: 0px 15px 15px 0px;
}

.conteneur_populaires {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #f2f2f2;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 25px 60px;
  min-height: 310px;
  margin-left: 0;
  flex-grow: 1;
}

#Bleu {
  background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

#Coeur {
  background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#Matin {
  background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.title {
  width: 100%;
  display: flex;
}

.conteneur_hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f2f2f2;
  flex-grow: 1;
  max-width: 52%;
  justify-content: space-between;
  padding: 25px 60px;
  min-height: 700px;
}

#Amina {
  background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#Panier {
  background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#Mer {
  background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#Mouettes {
  background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#Port {
  background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#Cannebiere {
  background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.infos > span {
  margin-left: 5%;
}

.gras {
  font-weight: bold;
}

html {
  font-family: "Raleway", sans-serif;
}

.vertical > .images-vertical {
  width: 100%;
}

.filtres {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 80px 0 20px;
  width: 65%;
  list-style: none;
  padding-left: 15px;
  border-radius: 0px 0px 22px 22px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

.footer_title li {
  padding-bottom: 10px;
}

.footer_title h3 {
  padding-left: 30px;
}

footer {
  display: flex;
  align-items: flex-start;
  margin: auto;
  background-color: #f2f2f2;
  width: 100%;
  flex-wrap: wrap;
}

.footer_title {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px;
  padding-left: 30px;
  width: 30%;
}

.list-style {
  list-style: none;
}

.infos {
  background-color: white;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 0px 0px 15px 15px;
}

.bordrond {
  border-radius: 23px;
}

.hebergements {
  background-size: cover;
  background-position: center center;
  max-width: 360px;
  width: 30%;
  height: 245px;
  min-width: 255px;
  flex-wrap: wrap;
  display: flex;
  border: solid 5px white;
  position: relative;
  background-color: white;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.4);
}

#Entete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

i {
  color: blue;
}

@media (max-width: 1600px) {
  .conteneur_stretch {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    min-height: 250px;
    flex-direction: row;
  }

  #Coeur {
    margin: 20px 20px;
  }

  .horizontal {
    height: unset;
  }

  .title {
    height: min-content;
  }

  .conteneur_populaires {
    margin: 50px 2.5%;
  }

  .conteneur_hebergement,
  .conteneur_populaires {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  #Coeur {
    margin: 20px 0;
  }

  .horizontal {
    height: 200px;
  }

  .conteneur_stretch {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .title {
    margin-left: 10px;
  }

  .conteneur_hebergement {
    width: 100%;
    max-width: 100%;
    align-items: stretch;
    padding: 20px 5px;
    background-color: white;
  }

  .hebergements {
    flex-grow: 1;
    max-width: none;
    height: 200px;
    margin: 5px 5px;
    min-width: 45%;
    min-width: 260px;
  }

  body {
    min-width: 250px;
  }

  .marge {
    width: 100%;
  }
}
